/**
 * Basic typography style for copy text
 */
body {
  color: $text-color;
  font: normal 100% / 1.4 $text-font-stack;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font-stack;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 1em;
  margin: 0;
  position: relative;
}

$textSizes: (
  xs: 12,
  sm: 14,
  md: 16,
  lg: 18,
  xl: 20
);
@each $name, $size in $textSizes {
  .text--#{$name} {
    font-size: em($size);
  }
}


.text-align--left {
  @include text-align(left);
}

.text-align--right {
  @include text-align(right);
}

.text-align--center {
  @include text-align(center);
}


@each $name, $color in $colors {
  .text--#{"" + $name} {
    color: $color !important;
  }
}
.text--warning {
  @extend .text--warn;
}

.text--white-darker {
  color: $color-white-darker;
}

.text--shadow {
  @include text-shadow();
}
$sizes: small, default, large;
@each $size in $sizes {
  .text--shadow-#{$size} {
    @include text-shadow($size);
  }
}

.text--muted {
  color: lighten($color-black-text, 15);
}