/_assets/
/vendor/
/node_modules/
/bower_components/
/mailoutput/
/public/storage/
/public/build/
/public/js/
!/public/js/modernizr.custom.js
/public/css/main.css
/public/css/picker.css
public/mix-manifest.json
/public/note_imgs/
Homestead.yaml
Homestead.json
.env
*.map
*.rnd
storage/sites/*
storage/*.key
*scratch.*
*.key
/_ide_helper.php
/public/badges/2x/
/public/badges/4x/
/hudsonvillewaterpolo-firebase-adminsdk-9e3vw-e89ad9baad.json

# +----------------------------+
# |    Keep .gitkeep files     |
# +----------------------------+-------------------------------+
# | To keep an empty directory, add a .gitkeep file to it      |
# | and ignore the directory with a wildcard:                  |
# |                                                            |
# |     /path/to/dir/*                                         |
# |                                                            |
# | this will ignore the content but not the director itself.  |
# +------------------------------------------------------------+
!/**/.gitkeep
