// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.btn,
a.btn {
  display: inline-block;
  padding: $gap-large;
  font-family: $heading-font-stack;
  font-size: 1.25em;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1.2em;
  color: $color-black-lighter;
  background: $color-smoke;
  border: none;
  transition: all .5s;
  cursor: pointer;

  i {
    font-size: 1.1em;
    line-height: 1.2em;
    margin-right: .25em;

    &:first-child:last-child {
      margin-right: 0;
    }
  }

  &:hover {
    background: lighten($color-smoke, 10);
    color: lighten($color-bright-lighter, 10);
    text-decoration: none;
  }

  &.disabled,
  &[disabled] {
    opacity: .5;
    pointer-events: none;
  }
}

.btn.btn--text {
  background: none;
  color: $color-bright;
  padding: $gap $gap-large;

  &:hover {
    background: $color-smoke;
    color: $color-bright-darker;
    text-decoration: none;
  }
}

.btn.btn--small {
  font-size: .8em;
  padding: .6em .8em;
}

.btn.btn--lg {
  font-size: 2em;
}

.btn.btn--submit {
  margin: 0 0  0 $gap;
}

.btn-group {
  display: flex;

  .btn {
    text-align: center;

    & + .btn {
      border-left: 1px solid $color-white-darker;
    }
  }
}

.btn-group--full {
  .btn {
    flex: 1;
  }
}

.btn-group--end {
  justify-content: flex-end;
}

table .action-btns {
  text-align: right;

  .btn {
    font-size: 1em;
    padding: $gap-small;
    border: none !important;
    background: none;
  }
}


@mixin _btnColor($bg, $hover, $active, $text) {
  background: $bg !important;
  color: $text !important;

  &:hover {
    background: $hover !important;
    color: $text !important;
  }

  &:active {
    background: $active !important;
    color: $text !important;
  }
}

$_success: map-get($colors, 'success');
$_warn: map-get($colors, 'warn');
$_danger: map-get($colors, 'danger');

$variants: (
  primary: $color-primary $color-primary-lighter $color-primary-darker $color-white-lighter,
  accent:  $color-accent $color-accent-darker $color-accent-darker $color-white-lighter,
  bright: $color-bright $color-bright-lighter $color-bright-darker $color-white-lighter,
  bright-accent: $color-bright-accent $color-bright-accent-darker $color-bright-accent-darker $color-white-lighter,
  bright-accent-alt: $color-bright-accent-alt $color-bright-accent-alt-lighter $color-bright-accent-alt-darker $color-white-lighter,
  success: $_success darken($_success, 10) darken($_success, 10) $color-white-lighter,
  warn: $_warn darken($_warn, 10) darken($_warn, 10) $color-white-lighter,
  danger: $_danger darken($_danger, 10) darken($_danger, 10) $color-white-lighter,
);

@each $name, $params in $variants {
  .btn.btn--#{$name} {
    @include _btnColor($params...);
  }
}