$_edge-padding: 20px;

.table.table--fancyHeader {

  // fake border radius for the table
  & > thead > tr:first-child {
    & > th:first-child {
      border-radius: 4px 0 0 0;
    }

    & > th:last-child {
      border-radius: 0 4px 0 0;
    }
  }

  & > tbody > tr:last-child {
    & > td:first-child {
      border-radius: 0 0 0 4px;
    }

    & > td:last-child {
      border-radius: 0 0 4px 0;
    }
  }

  & > thead {

    & > tr > th {
      font-size: em(24);
      padding: $gap-bigger;
    }
  }

  tbody {
    letter-spacing: -.04em;

    td {
      padding: $gap-large;
    }
  }

  tr > th:first-child,
  tr > td:first-child {
    padding-left: $_edge-padding;
  }

}